<main class="form-signin w-100 m-auto">
  <form class="align-items-center">
     <%= image_tag 'login.png' =%>
    <h1 class="h3 mb-3 fw-normal">APP MUNICIPE</h1>
    <p>Aplicação inteligente para cadastro de cidadães, para prefeituras locais.</p>
<hr>
    <div class="checkbox mb-3">
        <br>
         <h6 class="h3 mb-3 fw-normal">Please sign in</h1>
    <a class="w-100 btn btn-lg btn-primary" href='/login' type="submit">
    Sign in
    </a>
    <br><br>
    <a class="w-100 btn btn-lg btn-primary" type="submit" href='/users/new'>
    Sign up
    </a>
    </div>
    <hr>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>
